
/** NAVBAR TOP */

.navbar2 {
    display:inline-block;
    //margin-left: 0;
    & ul {
        list-style: none;
    }

    & li {
        text-decoration: none;
        font-variant: small-caps;
        width: 60px;
        margin-right: @gutterWidth - 2.5px;
        text-align: center;
        margin-left: 0;
        &:hover {
            background-color: lighten(#97bebd, 15%);
            font-variant: small-caps;
        }
    }
    & a {
        padding: 0;
    }

}
