
/** NAVBAR TOP */

.navbar2 {
    display:inline-block;
    margin-left: 15px;

    & li {
        font-variant: small-caps;
        &:hover {
            background-color: lighten(#97bebd, 15%);
            font-variant: small-caps;
        }
    }

}



/** MEDIA */

@media screen and (max-width: 1000px) {
    .navbar2 {
        display: none;
    }
}
