/**
* Anax Flat theme.
*/
@import url(modules.less);

body {
    background-color: #000;
    & a {
        color: #000;
    }
}

.site-header {
    background-color: #97bebd;
}

.flash-wrap img {
    width: 100%;
}

.sidebar li {
    list-style: none;
}

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

/** MAIN */

.main {
    padding: 20px;
}

.after-main {
    background-color: lighten(#97bebd, 15%);
    max-width: 950px;
    width: 100%;
    margin: auto;
    height: 90px;
    text-align: left;
    overflow: auto;
    & img {
        width: 50px;
        display: block;
        float: left;
        padding-right: 5px;
    }
    & .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/** FOOTER */

.footer-column-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-column-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-column-3 {
    padding-left: 10px;
    padding-right: 10px;
}

/** MEDIA */

@media screen and (max-width: 1300px) {
    .logo-1 {
        display: none;
    }
    .after-main {
        height: auto;
    }
}
