/**
* Anax Flat theme.
*/
@import url(modules.less);



.site-header {
    background-color: #97bebd;
}

.flash-wrap img {
    width: 100%;
    height: 100%;
}



/** --------------------------------------------------------------
 *  Logo images
 */
/**.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}*/

/**.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}*/

/** MAIN */

/**.main {
    padding-left: 10px;
    padding-right: 10px;
}*/


/**.after-main {
    background-color: lighten(#97bebd, 15%);
    max-width: 950px;
    width: 100%;
    margin: auto;
    padding-bottom: 0;
    height: @magicNumber * 4;
    text-align: left;
    overflow: hidden;
    & img {
        width: 50px;
        display: block;
        float: left;
        padding-right: 5px;
    }
    & .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}*/

/** FOOTER */

.footer-column-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-column-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-column-3 {
    padding-left: 10px;
    padding-right: 10px;
}
